{% extends "base.html" %}
{% block content %}
<h1 style = "margin-left:10px;"> Delete Account </h1>
<div style = "margin-left:20px;">
   Are you sure you want to delete your account? <br>
   Once removed, your account cannot be re-activated <br> <br>
   <a href={{url_for('remove_acc')}} style= "text-decoration: none; color:rgb(0,0,0);" >
     <input type='button' value='Confirm' /> </a>
   <a href={{url_for('profile',id=g.user.id)}} style= "text-decoration: none; color:rgb(0,0,0);" >
     <input type='button' value='Cancel' /> </a>
</div>
{% endblock %}
